@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
	background-color: #E6EAE8;
}

a {
	/*color: #20AAE5;*/
	color: #7c091f;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	/*background-color: #20aae5; Crimson - #7c091f ; Blue - #20aae5*/
	background-color: #7c091f; /*Crimson - #7c091f ; Blue - #20aae5*/
	/*border-bottom: 0.25em solid #1894ca;*/
	border-bottom: 0.25em solid #333;	
	/*border-bottom: 0.25em solid #990000;*/
	/*border-bottom: 0.25em solid #ffffff;*/
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
	height: 50px;
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	text-shadow: #e6e6e6 0.5px 0.5px 0px;
	/*color: #1086BA;*/
	color: #d9d9d9;
}

a:hover {
	/*Can remove this to get it underlined*/
	text-decoration: none;
}

nav {
	float: right;
  	top: 5px;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
  	opacity:0.6;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
  	opacity: 1.0;
/*	border-bottom: 7px solid #e67e22;*/
	color: #fff;
}

/*Update this for expanding the margins of the page*/
.wrapper {
	margin: 0 auto;
	top: 60px;
	position: relative;
	padding: 0 10px;
	/*width: 75%;*/
	width: 83%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	/*z-index: -1;*/
	/*z-index: 0;*/
	color: #555;
}

.user_details {
	/*width: 250px;*/
	width: 375px;
	position:fixed;
	left:5;
	float: left;
	margin-bottom: 20px;
}


.user_profile_details {
	/*width: 250px;*/
	/*width: 240px;*/
	width: 216px;
	min-height: 400px;
	position:fixed;
	left:13px;
	float: left;
	margin-bottom: 20px;
}


.user_profile_details_link {
	/*margin-left:20px;*/
}

.user_profile_details_img {
	margin-left:20px;
	height: 150px;
	width: 150px;
}
.user_message_details {
	/*width: 250px;*/
	width: 375px;
	float: left;
	left:5;
	margin-bottom: 20px;
	margin-left: -112px;
	margin-top: 220px;

}

.user_details img {
	/*height: 120px;*/
	height: 165px;
	border-radius: 5px;
	margin-right: 5px;
	width: 165px;
}

.user_details_left_right {
	width: 175px;
	display: inline-table;
	position: absolute;
	margin-left: 18px;	
	margin-top: 10px;
	text-align: left;
}

.user_profile_details_left_right {
	width: 175px;
	display: inline-table;
	position: absolute;
	margin-left: 20px;	
	margin-top: 15px;
	text-align: left;
}

.user_profile_button_details {
	/*width: 250px;*/
	/*width: 240px;*/
	width: 216px;
	min-height: 130px;
	position:fixed;
	left:13px;
	float: left;
	margin-bottom: 20px;
	margin-top: 415px;
}

.user_profile_button_details input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

.main_column {
	float:right;
	width: 72%;
	z-index: -1;
	/*min-height: 170px;*/
	/*min-height: 160px;*/
	min-height: 187px;
}

.main_group_column {
	float:right;
	width: 72%;
	z-index: -1;
	/*min-height: 170px;*/
	min-height: 70px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 15px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
  	border: 1px solid #afcbf7;
}

.post_form input[type="submit"] {
	width: 8%;
	height: 30px;
	border: none;
	border-radius: 3px;
	/*background-color: #3498db;*/
	background-color: #7c091f;
	font-family: 'Quicksand', sans-serif;
	/*color: #1E75CA;*/
	color: #d9d9d9;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	text-shadow: #73B6E2 0.2px 0.2px 0px;
	font-size: 100%;
	position: absolute;
	outline: 0;
  	top:25;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;	
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	/*background-color: #20AAE5;*/
	/*color: #156588;*/
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Quicksand', sans-serif;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	/*background-color: #3498db;*/
	background-color: #7c091f;
	/*color: #1E75CA;*/
	color: #d9d9d9;
	text-shadow: #73B6E2 0.2px 0.2px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
  	border: none;
	text-decoration: none;
	/*color:#20AAE5;*/
	color: #7c091f;
	border:none;
}

.newsfeedPostOptions iframe {
  	border: 0px;
	height: 15px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
  	cursor: pointer;
	border: none;
	font-size: 16px;
	/*color: #3498db;*/
	color: #7c091f;
	padding: 0px;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
	width: 22%;
  	top: 35px;
	max-width: 240px;
	min-width: 130px;
	float: left;
	position: relative;
	/*background-color: #84cded;*/
	background-color: #878181;
	color: #CBEAF8;
  	height: 100%;
  	position: fixed;
}

.profile_left img {
	/*min-width: 80px;*/
  	left: 25;
	/*width: 55%;*/
	/*margin: 30px;*/
  	border: 3px solid black;
  	border-radius: 10px;
  	min-width: 120px;
	width: 80%;
	margin: 24px;
}

.profile_info {
	display: list-item;
	background-color: #efefef;
  border: 2px solid grey;
	width: 100%;
  color: #000000;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	/*background-color: #e74c3c;*/
	background-color: #333;

}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	/*background-color: #3498db;*/
	background-color: #7c091f;
}
.deep_blue {
	/*background-color: #0043f0;*/
	/*background-color: #7c091f;*/
	background-color: black;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}
#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	min-width: 675px;
	/*float: right;*/
	/*width: 70%;*/
	width: 65%;
	/*z-index: -1;*/
	z-index: 0;
	/*margin-left: 265px;*/
	margin-left: 250px;

}

.profile_info_bottom {
	margin: 10 0 0 7px;

}

#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	/*Added*/
	height: 6.7%;
}
#message_submit {
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	border:none;
	/*background-color: #20AAE5;*/
	/*color: #156588;*/
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	/*background-color: #3498db;*/
	background-color: #7c091f;
	/*color: #1E75CA;*/
	color: #d9d9d9;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	text-shadow: #73B6E2 0.2px 0.2px 0px;
	
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 216px;
	overflow: scroll;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	/*color: #1E96CA;*/
	color: #7c091f;

}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    /*right: 10px;
    top: 40px;*/
    right: 0px;
    top: 47px;
    /*overflow: scroll;*/
    overflow-x: auto;
    overflow-y: auto;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification {
	height: auto;
    /*color: #1485BD;*/
    color: #7c091f;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

.search {
	margin: 10px 0 0 20%;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
  	float: left;
  	height: 30px;
  	outline: 0;
  	width: 180px;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
}

.button_holder {
	background-color: #F1F1F1;
  	border: thin solid #e5e5e5;
  	cursor: pointer;
  	float: left;
  	height: 30px;
  	text-align: center;
  	width: 50px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 4px;
    width: 20px;
}

.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    /*background-color: #20AAE5;*/
    background-color: #7c091f;
    text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

#create_group {
	height: 41px;
	width: 150px;
	margin: 0;
	position: relative;
	/*text-align: center;*/
	border:none;
	/*background-color: #20AAE5;*/
	/*color: #156588;*/
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	/*background-color: #3498db;*/
	/*background-color: #7c091f;*/
	/*background-color: black;*/
	/*color: #1E75CA;*/
	color: #d9d9d9;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	text-shadow: #73B6E2 0.2px 0.2px 0px;
	
}

.left_group{
	position: relative;
	float: left;
}


.right_group{
	position: relative;
	float: center;
}


.group_profile_pic {
	margin-right: 7px;
}

.group_profile_pic img {
	border-radius: 5px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin: 0 auto;
}

.tg td {
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:7px 40px;
	/*border-style:solid;*/	
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:20px 20px;
	/*border-style:solid;*/
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

.tg .tg-9hbo	{
	font-weight:bold;
	vertical-align:top;
}

.tg .tg-yw4l {
	vertical-align:top;
}

.tg_profile {
	margin-top: -100px;
}

.tg_groups {
	margin-top: -150px;
}

.tg_creategroup {
	min-width: 300px;
}

#postModalLabel {
	text-align: center;
	height: 41px;
	/*width: 150px;*/
	margin: 0;
	position: relative;
	/*text-align: center;*/
	border:none;
	/*background-color: #20AAE5;*/
	/*color: #156588;*/
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	/*background-color: #3498db;*/
	background-color: #7c091f;
	/*color: #1E75CA;*/
	color: #d9d9d9;
	/*text-shadow: #73B6E2 0.5px 0.5px 0px;*/
	text-shadow: #73B6E2 0.2px 0.2px 0px;	
}

.black-background {
	/*background-color:#000000;*/
	border-color:#000000;
	color:#ffffff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.black-background: hover {
	background-color:#000000;
	border-color:#000000;
	color:#ffffff;
	}

/*.white {
	color:#ffffff;
}
*/
/*.btn-danger:hover{
	background-color:#000000;
	border-color:#000000;
	color:#ffffff;
}
*/

.profile_about {
	min-width: 308px;
	min-height: 130px;
}


.user_friends_details {
	/*width: 250px;*/
	/*width: 240px;*/
	/*width: 216px;*/
	min-height: 275px;
	/*position:fixed;*/
	left:13px;
	float: right;
	margin-bottom: 20px;
	margin-right: -190px;
	width: 300px;
	/*left:5;*/
	/*margin-bottom: 20px;*/
	/*margin-left: -112px;*/
	/*margin-top: 220px;*/
}
	
/*Friends List Div*/
.friendListProfilePic img {
    height: 40px;
    border-radius: 25px;
    margin: 0px 13px 0 13px;
    float: left;
 }	
	
.friendsDisplay {
    padding: 5px 5px 0 5px;
    height: 50px;
    border-bottom: 1px solid #D3D3D3;
    max-width: 280px;
}

.loaded_friends {
    max-height: 216px;
    min-height: 200px;
    overflow: auto;
}

.friendNameDisplay {
    padding: 10px 5px 0 5px;
    height: 40px;
    color: #7c091f;
    /*border-bottom: 1px solid #D3D3D3;*/
}

#profileFriendsHead {
    text-align: left;
    font-size: 20px;
    height: 30px;
    /* width: 150px; */
    margin: 0;
    position: relative;
    /* text-align: center; */
    border: none;
    /* background-color: #20AAE5; */
    /* color: #156588; */
    border-radius: 5px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    /* background-color: #3498db; */
    background-color: #7c091f;
    /* color: #1E75CA; */
    color: #d9d9d9;
    /* text-shadow: #73B6E2 0.5px 0.5px 0px; */
    text-shadow: #73B6E2 0.2px 0.2px 0px;
}

.columnFriends {
    background-color: #fff;
    padding: 10px 12px 0px 12px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    /* z-index: -1; */
    /* z-index: 0; */
    color: #555;
}
